* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Open Sans";
}

body {
  background-color: #f5f5f5;
  display: inline;
  align-items: center;
}

.content-wrapper {
  margin: 0 auto;
  max-width: 1200px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  padding: 0.5rem;
}

.container {
  position: relative;
  top: 50px;
  display: inline-block;
  width: fit-content;
  margin: 2px 3px;
  border-radius: 0.5rem;
}

.movie-card {
  border: 0px solid aqua;
  display: inline-block;
  margin: 20px 30px;
  position: relative;
  height: 550px;
  width: 25rem;
  overflow: hidden;
  border-radius: 0.5rem;
  flex: 1;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
}

.movie-card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0)
    linear-gradient(to bottom, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.7) 80%);
  z-index: 0;
}

.movie-card__card-link {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  /*     background: rgba(255,0,0,.5); */
}

.movie-card__image {
  width: fit-content;
  height: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  object-fit: contain;
  transition: transform 3s ease;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  position: relative;
  z-index: -1;
}

.movie-card__text-wrapper {
  position: absolute;
  bottom: 0rem;
  padding: 1rem;
  color: white;
  /*     background-color: rgba(0, 0, 0, 0.4); */
  transition: background-color 1.5s ease;
}

.movie-card__title {
  transition: color 1s ease;
  margin-bottom: 0.5rem;
}

.movie-card__post-date {
  font-size: 0.7rem;
  margin-bottom: 0.5rem;
  color: #ccc;
}

.movie-card__details-wrapper {
  max-height: 0;
  opacity: 0;
  transition: max-height 1.5s ease, opacity 1s ease;
}

@media (min-width: 900px) {
  .movie-card:hover .movie-card__details-wrapper {
    max-height: 20rem;
    opacity: 1;
  }
  .movie-card:hover .movie-card__title {
    color: yellow;
  }
  .movie-card:hover .movie-card__image {
    transform: scale(1.2);
    z-index: -1;
  }
}

.movie-card__excerpt {
  font-weight: 300;
}
